.Name {
  font-weight: 300;
  color: blue;
  margin: auto;
}

.School {
  color: crimson;
  margin: auto;
}

.Total {
  color: darkmagenta;
  margin: auto;
}

.formatstyle {
  text-align: center;
  font-size: large;
  margin: auto;
}

.Score {
  color: forestgreen;
  margin: auto;
}
.Name {
  font-weight: 300;
  color: blue;
  margin: auto;
}

.School {
  color: crimson;
  margin: auto;
}

.Total {
  color: darkmagenta;
  margin: auto;
}

.formatstyle {
  text-align: center;
  font-size: large;
  margin: auto;
}

.Score {
  color: forestgreen;
  margin: auto;
}
